
DB_USER = 'mik'
DB_PW = 'mik _'
DB_HOST = 'localhost'
DB_NAME = 'knowmin'

categories_csv_path = '/absolute/path/to/repository/./results/categories.csv'
statements_csv_path = '/absolute/path/to/repository/./results/statements.csv'
